/* Los !important son para sobreescribir valores de boostrap*/
html{
    scroll-behavior: smooth;
    scrollbar-color: gray #222;
}
video {
    width: 70%;
}

body {
    background-image: url("../img/fondo-tile.jpg");
    background-repeat: repeat;
    background-size: 640px 643px;
    animation-name: fondo;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    font-family: "Open Sans" !important;
    color: white !important;
}
.nav-link{
    color: white;
    font-size: 20px;
}

@keyframes fondo {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 643px;
    }
}

@font-face {
    font-family: MKDS;
    src: url("../Mario-Kart-DS.woff");
}

@font-face {
    font-family: mkds2;
    src: url("../mario_kart_f2.woff");
}