/* Los !important son para sobreescribir valores de boostrap*/
html{
    scroll-behavior: smooth;
    scrollbar-color: gray #222;
}
video {
    width: 70%;
}

body {
    background-image: url("../img/fondo-tile.jpg");
    background-repeat: repeat;
    background-size: 640px 643px;
    animation-name: fondo;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    font-family: "Open Sans" !important;
    color: white !important;
}
.nav-link{
    color: white;
    font-size: 20px;
}

#btnPMario {
    background-image: url("../img/personajes/mario.png");
}

#btnPLuigi {
    background-image: url("../img/personajes/Luigi.png");
}

#btnPPeach {
    background-image: url("../img/personajes/Peach.png");
}

#btnPWario {
    background-image: url("../img/personajes/Wario.png");
}

#btnPWaluigi {
    background-image: url("../img/personajes/Waluigi.png");
}

#btnPHuesitos {
    background-image: url("../img/personajes/Huesitos.png");
}

#btnPShyGuy {
    background-image: url("../img/personajes/ShyGuy.png");
}

#btnPBowser {
    background-image: url("../img/personajes/Bowser.png");
}

#btnPDaisy {
    background-image: url("../img/personajes/Daisy.png");
}

#btnPYoshi {
    background-image: url("../img/personajes/Yoshi.png");
}

#btnPToad {
    background-image: url("../img/personajes/Toad.png");
}

#btnPROB {
    background-image: url("../img/personajes/ROB.png");
}

#btnPDonkeyKong {
    background-image: url("../img/personajes/DonkeyKong.png");
}

.btnPersonaje {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    text-decoration: none;
    background-color: black;
    /* filter: grayscale(100%); */
    transition: filter 0.5s ease, border-color 0.5s ease;
    border: 5px solid transparent;
    image-rendering: pixelated;
}

.btnPersonaje:hover {
    filter: grayscale(0%);
    border-color: rgba(255, 255, 255, 1);
}

@keyframes fondo {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 643px;
    }
}
/* Barras de valores */

.barra {
    width: 80%;
    height: 30px;
    border: 5px white solid;
    outline: 5px solid black;
    transform: skewX(-20deg);
    background-position: left;
    background-size: 20px 0px;
    margin: 20px;
    background-color: darkgray;
}

.valor {
    background-color: yellow;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    transition: width 0.5s ease;
    box-sizing: border-box;
    border-right: 10px solid gold;
    border-bottom: 5px solid gold;
}

.marca {
    width: 10%;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    border-right: 5px white solid;
    z-index: 32;
    position: relative;
    transform: skewX(0deg);
}
.kartIMG{
    width: initial !important; /*Necesario para quitar el ancho de col de boostrap*/
}
.kartIMG:hover {
    cursor: pointer;
}
.kartSeccion{
    font-size: 40px;
}
#render3D{
    width: 100%;
    height: 40vh;
}
@font-face {
    font-family: MKDS;
    src: url("../Mario-Kart-DS.woff");
}

@font-face {
    font-family: mkds2;
    src: url("../mario_kart_f2.woff");
}